.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo useful_links useful_links direct_links direct_links contact contact"
      "logo logo useful_links_link useful_links_link direct_links_link direct_links_link contact contact"
      "address address useful_links_link useful_links_link direct_links_link direct_links_link contact contact"
      "social_links social_links useful_links_link useful_links_link direct_links_link direct_links_link contact contact";
  }
  
  .logo { grid-area: logo; }
  
  .address { grid-area: address; }
  
  .social_links { grid-area: social_links; }
  
  .useful_links { grid-area: useful_links; }
  
  .useful_links_link { grid-area: useful_links_link; }
  
  .direct_links { grid-area: direct_links; }
  
  .direct_links_link { grid-area: direct_links_link; }
  
  .contact { grid-area: contact; }
  